{% extends "_base.twig" %}
{% block content %}
    <nav class="main-nav">
        <div class="container">
            <a class="page-title">Event sniff Admin</a>
        </div>
    </nav>
{% endblock %}
